@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
min-height: 100vh;
 background: linear-gradient(#5088B9,#84ACCE, #79A1E2, #86CD82, #72A276)
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
color: white;
font-weight: 700;
/* removes link line undereath text */
text-decoration: none;
font-size:2em;
text-transform: uppercase;
letter-spacing: 2px;
}

/* arranges in a line instead of beneath each other  */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
/* removes bullet points that lists have automatically */
list-style: none;
/* evenly spaces out 'home' 'about me' 'contact' 'work' */
margin-left:20px;
}

header ul li a {
text-decoration: none;
padding: 6px 15px;
color: white;
}

/*
  This code block below allows for the hovering <a> tags to be highlighted, but we can also set the page's <a> tag to have an "active" class which will highlight the button no matter what
*/

header ul li a:hover , 
header ul li a.active {
background: white; 
color: #5088B9;
border-radius: 20px;
} 

nav a.active {
background: white; 
color: #5088B9;
border-radius: 20px;
} 

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%,-100%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, white 0, #86CD82 10%, white 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 120px;
  text-decoration: none;
  white-space: nowrap;
}
    
@keyframes shine {
  0% {
    background-position: 0;
  }
  20% {
    background-position: 200px;
  }
  40% {
    background-position: 400px;
  }
  60% {
    background-position: 600px;
  }
  80% {
    background-position: 800px;
  }
  100% {
    background-position: 850px;
  }
}

#btn {
text-decoration: none;
display: inline-block;
padding: 8px 30px;
/* gives rounded edges */
border-radius: 40px;
background: #FFF;
color: #5088B9;
font-size: 1.5em;
z-index: 9;
transform: translateY(900%)translateX(450%)
}

h1 {
transform: translateY(370%) translateX(5%);
margin-left:300px;
margin-right:300px;
color: white;
}

footer {
	height: 150vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 14px;
}